#container{
  width: 90%;
  margin: auto;
}
#header{
  text-align: center;
  background: lightgrey;
  border: 2px solid black;
  margin: 5px;
}
#content{
  background: lightgrey;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
}
      
#footer{
  background: lightgrey;
  border: 2px solid black;
  margin: 5px;
  text-align: center;
}